In [1]:
tup = 4, 5, 6
tup

(4, 5, 6)

In [2]:
nested_tup = (4, 5, 6), (7, 8)

In [3]:
nested_tup

((4, 5, 6), (7, 8))

In [4]:
tuple([4, 0, 2])

(4, 0, 2)

In [5]:
tup = tuple('string')

In [6]:
tup

('s', 't', 'r', 'i', 'n', 'g')

In [7]:
tup[0]

's'

In [8]:
tup = tuple(['foo', [1, 2], True])
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [13]:
tup = tuple(['foo', [1, 2], True])
tup[1].append(3)
tup

('foo', [1, 2, 3], True)

In [14]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [15]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

In [16]:
tup = (4, 5, 6)
a, b, c = tup

In [17]:
b

5

In [18]:
tup = 4, 5, (6, 7)
a, b, (c, d) = tup
d

7

In [19]:
a, b = 1, 2
a

1

In [20]:
b

2

In [21]:
b, a = a, b

In [22]:
a

2

In [23]:
b

1

In [24]:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [25]:
values = 1, 2, 3, 4, 5
a, b, *rest = values
a, b

(1, 2)

In [26]:
rest

[3, 4, 5]

In [ ]:
a, b, *_ = values

In [27]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

In [28]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)
b_list

['foo', 'bar', 'baz']

In [37]:
b_list[1] = 'peakaboo'
b_list

['foo',
 'red',
 'peakaboo',
 'peakaboo',
 'baz',
 'dwarf',
 'dwarf',
 'dwarf',
 'dwarf']

In [38]:
b_list

['foo',
 'red',
 'peakaboo',
 'peakaboo',
 'baz',
 'dwarf',
 'dwarf',
 'dwarf',
 'dwarf']

In [39]:
b_list.pop(2)

'peakaboo'

In [30]:
gen = range(10)

In [47]:
b_list.append('foo')
b_list
b_list.remove('foo')
b_list

['red', 'peakaboo', 'baz', 'dwarf', 'dwarf', 'dwarf', 'dwarf']

In [31]:
gen

range(0, 10)

In [32]:
list(gen)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
b_list.append('dward')

In [48]:
'dwarf' in b_list

True

In [49]:
'dwarf' not in b_list

False

In [50]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [53]:
x = [4, None, 'foo']
x.extend((2, 3))
x

[4, None, 'foo', 2, 3]

In [54]:
a = [7, 2, 5, 1, 3]
a.sort()

In [55]:
a

[1, 2, 3, 5, 7]

In [ ]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)

In [56]:
b

2

In [57]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)

4

In [58]:
bisect.bisect(c, 5)

6

In [59]:
bisect.insort(c, 6)
c

[1, 2, 2, 2, 3, 4, 6, 7]

In [60]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]

In [61]:
seq[1:5]

[2, 3, 7, 5]

In [62]:
seq[3:4] = [6, 3]

In [63]:
seq

[7, 2, 3, 6, 3, 5, 6, 0, 1]

In [64]:
seq[:5]

[7, 2, 3, 6, 3]

In [65]:
seq[3:]

[6, 3, 5, 6, 0, 1]

In [66]:
seq[-4]

5

In [67]:
seq[-4: ]

[5, 6, 0, 1]

In [68]:
seq[-6 : -2]

[6, 3, 5, 6]

In [69]:
seq[::2]

[7, 3, 3, 6, 1]

In [70]:
seq[::-1]

[1, 0, 6, 5, 3, 6, 3, 2, 7]

In [71]:
some_list = ['foo', 'bar', 'baz']
mapping = {}

In [72]:
for i, v in enumerate(some_list):
    mapping[v] = i

In [73]:
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [74]:
sorted([7, 1, 2, 6, 0, 3, 2])

[0, 1, 2, 2, 3, 6, 7]

In [75]:
sorted('horse race')

[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

In [76]:
seq1 = ['foo', 'bar', 'baz']

In [77]:
seq2 = ['one', 'two', 'three']

In [78]:
zipped = zip(seq1, seq2)

In [79]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [80]:
seq3 = [False, True]

In [81]:
list(zipped)

[]

In [82]:
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

In [83]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i , a, b))

0: foo, one
1: bar, two
2: baz, three

In [84]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'), ('Schilling', 'Curt')]

In [85]:
first_names, last_names = zip(*pitchers)

In [86]:
first_names

('Nolan', 'Roger', 'Schilling')

In [87]:
last_names

('Ryan', 'Clemens', 'Curt')

In [88]:
list(reversed(range(10)))

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]